html, body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

html {
    font-family: Arial, Helvetica, "Microsoft Yahei", sans-serif;
    font-size: 14px;
}


.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 0;
    margin-right: 15px;
}