{% extends 'base.html' %}
{% load i18n %}
{% load custom_filter %}

{% block sub_title %}
    {% trans "Catgory Edit" %}
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="/static/schema/default/css/game/game_update.css">
{% endblock %}

{% block extra_script %}
    <script src="/static/js/game/game_update.js"></script>
    <script src="/static/js/game/category.js"></script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row ">
        {% if category_list %}
            <div class="col-md-offset-9 col-md-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        修改系列 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for item in  category_list %}
                        <li><a href="{% url 'game_category_prepar_update' item.id %}" >{{ item.name_ch }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        删除系列 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for item in  category_list %}
                        <li><a href="#" url="{% url 'game_category_delete' item.id %}" onclick="return deleteCategory(this);">{{ item.name_ch }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{% url 'game_list' %}" class="btn btn-link">返回列表</a>
            </div>

        {% else %}
            <div class="col-md-offset-10 col-md-2">
                <a href="{% url 'game_list' %}" class="btn btn-link">返回列表</a>
            </div>
        {% endif %}
        </div>
        <form class="form-horizontal game-form" action="{% url 'game_category_update' %}" id="game_form" method="POST">
            {% csrf_token %}
            <fieldset>
                <div id="legend" class="">
                    <legend class="">
                        {% if obj %}
                            {{ obj.name_ch }}
                            <input type="hidden" name="id" value="{{ obj.id }}">
                        {% else %}
                            添加系列
                        {% endif %}
                    </legend>
                </div>
                <div class="form-group">
                    <!-- Text input-->
                    <label class="col-sm-3 control-label" for="name_ch">中文名：</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="name_ch" value="{{ obj.name_ch }}">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Text input-->
                    <label class="col-sm-3 control-label" for="name">英文名：</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="name" value="{{ obj.name }}">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Textarea -->
                    <label class="col-sm-3 control-label" for="desc_ch">描述说明：</label>

                    <div class="col-sm-3">
                        <div class="textarea">
                            <textarea type="" class="form-control" name="desc_ch">{{ obj.desc_ch }}</textarea>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Textarea -->
                    <label class="col-sm-3 control-label" for="desc">英文说明：</label>

                    <div class="col-sm-3">
                        <div class="textarea">
                            <textarea type="" class="form-control" name="desc">{{ obj.desc }}</textarea>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">图标：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="category_icon" value="{{ obj.icon.id }}">

                        <div class="upload-wrap" max-upload="1" is-image="true" for="category_icon">
                    {% if obj.icon %}
                            <div class="holder">
                                <div class="preview" file_id="{{ obj.icon.id }}">
                                    <img src="{{ obj.icon.url }}">
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                <button type="button" class="btn btn-primary btn-sm" id="upload_icon">选择图标</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <hr>
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" class="btn btn-success btn-lg" id="subBtn">确 定</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}