{% extends 'base.html' %}
{% load i18n %}
{% load custom_filter %}

{% block sub_title %}
    {% trans "Game Edit" %}
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="/static/schema/default/css/game/game_update.css">
{% endblock %}

{% block extra_script %}
    <script src="/static/js/game/game_update.js"></script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row ">
            <div class="col-md-offset-10 col-md-2">
                <a href="{% url 'game_list' %}" class="btn btn-link">返回列表</a>
            </div>
        </div>
        <form class="form-horizontal game-form" action="{% url 'game_update' %}" id="game_form" method="POST">
            {% csrf_token %}
            <fieldset>
                <div id="legend" class="">
                    <legend class="">
                        {% if game %}
                            {{ game.name_ch }}
                            <input type="hidden" name="id" value="{{ game.id }}">
                        {% else %}
                            添加游戏
                        {% endif %}
                    </legend>
                </div>
                <div class="form-group">
                    <!-- Text input-->
                    <label class="col-sm-3 control-label" for="name_ch">中文名：</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="name_ch" value="{{ game.name_ch }}">

                        <p class="help-block">游戏名称</p>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Text input-->
                    <label class="col-sm-3 control-label" for="name">英文名：</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="name" value="{{ game.name }}">

                        <p class="help-block">游戏英文名称</p>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Textarea -->
                    <label class="col-sm-3 control-label" for="desc_ch">游戏说明：</label>

                    <div class="col-sm-3">
                        <div class="textarea">
                            <textarea type="" class="form-control" name="desc_ch">{{ game.desc_ch }}</textarea>

                            <p class="help-block">对游戏进行简单描述</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Textarea -->
                    <label class="col-sm-3 control-label" for="desc">英文说明：</label>

                    <div class="col-sm-3">
                        <div class="textarea">
                            <textarea type="" class="form-control" name="desc">{{ game.desc }}</textarea>

                            <p class="help-block">英文描述</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Text input-->
                    <label class="col-sm-3 control-label" for="name_ch">星级：</label>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="star" value="{{ game.star }}">

                        <p class="help-block">游戏的评分等级1~5</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="tags">标签：</label>
                    <!-- Multiple Checkboxes -->
                    <div class="col-sm-8">
                        {% for tag in tag_list %}
                            <!-- Inline Checkboxes -->
                            <label class="checkbox-inline col-sm-3">
                                <input type="checkbox" name="tags" value="{{ tag.id }}"
                                        {% if tag.id in game.tags.all_id %}
                                       checked="checked"
                                        {% endif %}
                                        >
                                {{ tag.name_ch }}({{ tag.name }})
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="tags">系列：</label>
                    <!-- Multiple Checkboxes -->
                    <div class="col-sm-8">
                        {% for category in category_list %}
                            <!-- Inline Checkboxes -->
                            <label class="checkbox-inline col-sm-3">
                                <input type="checkbox" name="categorys" value="{{ category.id }}"
                                        {% if category.id in game.categorys.all_id %}
                                       checked="checked"
                                        {% endif %}
                                        >
                                {{ category.name_ch }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">图标：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="icon" value="{{ game.icon.id }}">

                        <div class="upload-wrap" max-upload="1" is-image="true" for="icon">
                    {% if game.icon %}
                            <div class="holder">
                                <div class="preview" file_id="{{ game.icon.id }}">
                                    <img src="{{ game.icon.url }}">
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                <button type="button" class="btn btn-primary btn-sm" id="upload_icon">选择图标</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">推荐截图：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="rec_screen" value="{{ game.rec_screen.id }}">

                        <div class="upload-wrap" max-upload="1" is-image="true" for="rec_screen">
                    {% if game.rec_screen %}
                            <div class="holder">
                                <div class="preview" file_id="{{ game.rec_screen.id }}">
                                    <img src="{{ game.rec_screen.url }}">
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                <button type="button" class="btn btn-primary btn-sm" id="upload_screen">选择截图</button>
                            </div>
                       </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">截图：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="screens" value="{{ game.screens.all_id | join:',' }}">

                        <div class="upload-wrap" max-upload="3" is-image="true" for="screens">
                    {% for screen in game.screens.all %}
                            <div class="holder">
                                <div class="preview" file_id="{{ screen.id }}">
                                    <img src="{{ screen.url }}">
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                            </div>
                    {% endfor %}
                    {% if game.screens.count  >= 3 %}
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                <button type="button" class="btn btn-primary btn-sm" id="upload_screen">选择截图</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Flash文件：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="flash" value="{{ game.flash.id }}">

                        <div class="upload-wrap" max-upload="1" is-image="false" for="flash">
                    {% if game.flash %}
                            <div class="holder">
                                <div class="preview" file_id="{{ game.flash.id }}">
                                    <p>{{ game.flash.name }} :: {{ game.flash.size | pretty_size }}</p>
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                <button type="button" class="btn btn-primary btn-sm" id="upload_flash">选择Flash</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">安卓安装包：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="apk" value="{{ game.apk.id }}">

                        <div class="upload-wrap" max-upload="1" is-image="false" for="apk">
                    {% if game.apk %}
                            <div class="holder">
                                <div class="preview" file_id="{{ game.apk.id }}">
                                    <p>{{ game.apk.name }} :: {{ game.apk.size | pretty_size }}</p>
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                <button type="button" class="btn btn-primary btn-sm" id="upload_apk">选择Apk</button>
                             </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">苹果安装包：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="ipa" value="{{ game.ipa.id }}">

                        <div class="upload-wrap" max-upload="1" is-image="false" for="ipa">
                    {% if game.ipa %}
                            <div class="holder">
                                <div class="preview" file_id="{{ game.ipa.id }}">
                                    <p>{{ game.ipa.name }} :: {{ game.ipa.size | pretty_size }}</p>
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                <button type="button" class="btn btn-primary btn-sm" id="upload_apk">选择Ipa</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">应用商店安装包：</label>

                    <div class="col-sm-8">
                        <input type="hidden" name="apk_pack" value="{{ game.apk_pack.id }}">

                        <div class="upload-wrap" max-upload="1" is-image="false" for="apk_pack">
                    {% if game.apk_pack %}
                            <div class="holder">
                                <div class="preview" file_id="{{ game.apk_pack.id }}">
                                    <p>{{ game.apk_pack.name }}
                                        :: {{ game.apk_pack.size | pretty_size }}</p>
                                </div>
                                <span class="glyphicon glyphicon-remove remove" title="移除"></span>

                                <div class="progress  progress-striped active" style="display: none;">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                            <div class="wrap" style="display: none;">
                    {% else %}
                            <div class="wrap">
                    {% endif %}
                                <input type="file" class="hidden">
                                 <button type="button" class="btn btn-primary btn-sm" id="upload_apk">选择安装包</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <hr>
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" class="btn btn-success btn-lg" id="subBtn">确 定</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}