{% extends 'base.html' %}
{% load i18n %}

{% block sub_title %}
    {% trans "Game Manage" %}
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="/static/schema/default/css/game/game.css">
{% endblock %}

{% block extra_script %}
    <script src="/static/js/game/game.js"></script>
{% endblock %}

{% block main %}
    <div class="container">
        <form class="form-horizontal game-from">
        <fieldset>
            <div id="legend" class="">
                <legend class="">添加游戏</legend>
            </div>
            <div class="form-group">

                <!-- Text input-->
                <label class="col-sm-1 control-label" for="input01">中文名</label>

                <div class="col-sm-4">
                    <input type="text" placeholder="游戏名称" class="form-control">

                    <p class="help-block"></p>
                </div>
            </div>

            <div class="form-group">

                <!-- Text input-->
                <label class="col-sm-1 col-sm-1 control-label" for="input01">英文名</label>

                <div class="col-sm-4">
                    <input type="text" placeholder="游戏的英文名称" class="form-control">

                    <p class="help-block"></p>
                </div>
            </div>


            <div class="form-group">

                <!-- Textarea -->
                <label class="col-sm-1 control-label">游戏说明</label>

                <div class="col-sm-4">
                    <div class="textarea">
                        <textarea type="" class="form-control"> </textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <!-- Textarea -->
                <label class="col-sm-1 control-label">英文说明</label>

                <div class="col-sm-4">
                    <div class="textarea">
                        <textarea type="" class="form-control"> </textarea>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-1 control-label">游戏类型</label>

                <!-- Multiple Checkboxes -->
                <div class="col-sm-8">
                    <!-- Inline Checkboxes -->
                    <label class="checkbox-inline">
                        <input type="checkbox" value="经营(Management)">
                        经营(Management)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="策略(Strategy)">
                        策略(Strategy)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="益智(Puzzle)">
                        益智(Puzzle)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="休闲(Casual)">
                        休闲(Casual)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="动作(Action)">
                        动作(Action)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="冒险(Adventures)">
                        冒险(Adventures)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="体育(Sports)">
                        体育(Sports)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="街机(Arcade)">
                        街机(Arcade)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="物理(Physics)">
                        物理(Physics)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="射击(Shooter)">
                        射击(Shooter)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="塔防(Defense)">
                        塔防(Defense)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="竞速(Racing)">
                        竞速(Racing)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="棋牌(Cards)">
                        棋牌(Cards)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="角色扮演(Role-play)">
                        角色扮演(Role-play)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="小孩(Kids)">
                        小孩(Kids)
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="祖玛(Zuma)">
                        祖玛(Zuma)
                    </label>
                </div>

            </div>

        </fieldset>
    </form>
    </div>
{% endblock %}