{% load i18n %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            {% block sub_title %} 主页 {% endblock %}
            | 管理控制台
        {% endblock %}
    </title>

    {% block misc_css %}
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/schema/default/css/base.css">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}

    {% block misc_script %}
        <script src="/static/lib/jquery/jquery-1.11.1.js"></script>
        <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
    {% endblock %}

    {% block extra_script %}
    {% endblock %}

</head>
<body>
    {% block main %}
        welcome!
    {% endblock %}
</body>
</html>
